spring:
  security:
    user:
      name: dev
      password: dev
  application:
    name: aml-tx-monitor
  datasource:
    url: jdbc:postgresql://localhost:5432/aml
    username: aml
    password: aml
  jooq:
    sql-dialect: POSTGRES
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8081

