server:
  port: 8082

spring:
  application:
    name: aml-ingest

  artemis:
    mode: native
    broker-url: tcp://localhost:61616
    user: admin
    password: admin

management:
  endpoints:
    web:
      exposure:
        include: health,info
